{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #4caf50; font-style: bold; font-size: 3rem;">DawaCare</div>
    <div class="align-middle" style="color: rgb(73, 73, 73)">An Pharmacy Management System</div>
    <br><br>
    <h1 class="faq-heading">FAQ'S</h1>
        <section class="faq-container">
            <div class="faq-one">
                <!-- faq question -->
                <h1 class="faq-page">How do I log in?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> 1. Open browser and navigate to the DawaCare.<br>
                        2. This automatically loads the DawaCare Login page.<br> 
                        3. Enter user name and password and click login<br>
                    NB: This only works if the user was added by the admin</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-two">
                <!-- faq question -->
                <h1 class="faq-page">How can I add a drug?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    1. Go to the navbar and click drug<br>
                    2. On the drop down menu click “add drug”.<br>
                    3. Fill in the details accordingly then click add<br>.
                    4. To cancel, just click cancel<br>.
                    5. You can click reset to reset to default values</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-three">
                <!-- faq question -->
<h1 class="faq-page">How to Edit drug details ?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p> 1.  click the drug icon in the navbar and click drug list .<br>
                        2. Next to the drug you want to edit details, there are 2 buttons click the edit details and edit details accordingly. <br>
                        3. click save once finished.</p>
                </div>
            </div>
        </section>
    </main>
    <script>
        var faq = document.getElementsByClassName("faq-page");
        var i;
        for (i = 0; i < faq.length; i++) {
            faq[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");
                /* Toggle between hiding and showing the active panel */
                var body = this.nextElementSibling;
                if (body.style.display === "block") {
                    body.style.display = "none";
                } else {
                    body.style.display = "block";
                }
            });}</script>
    <style>
       body{
    font-family: 'Work Sans', sans-serif;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #E7E7DE;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
} 
    </style>  
     
    </div>

{% endblock content %}